body,.box{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	/* overflow: hidden; */
}

ul,li{
	 list-style:none;
}
.Details h2{
	  font-size: 20px;
  line-height: 33px;
  margin: 0px;
  padding-left: 12px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.Details{
	margin-bottom: 15px;

}
.Details p{
	padding-left: 12px;
	height: 35px;
	line-height: 35px;
	margin: 0px;
	font-size: 15px;
	color: #999999;
}
.Details p span{
	margin-left: 13px;
	color: #666666;
	font-size: 15px;
}
.Details p strong{
	font-size: 25px;
	color: #bba059;
	font-weight: bold;
	  position: relative;
  top: 2px;
}
.Details p .sr_Gold{
    position: relative;
  top: 13px;
  width: 17px;
  margin-left: 13px;
  margin-right: 3px;
  display: initial;
}
.Details p b{
	font-weight: normal;
	text-decoration:line-through;
	margin-left: 10px;
}
.img img{
	width: 100%;
	height: 100%;
}
.Gift{
	padding: 13px 0px;
	border-top: 1px solid #e5e5e5;
}
.box .G_color .Gift>ul {
  width: 100%;
}
.box .G_color .Gift>ul .sel {
  border-bottom: 1px #fff solid;
  border-top: 3px #bba059 solid;
  background: #fff;
  padding: 8px 0 9px 0;
  color: #bba059;
}
.box .G_color .Gift>ul li {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
  border: 1px #e3e3e3 solid;
  border-left: none;
  float: left;
  background-color: #f3f3f3;
}

.box .G_color .Gift .goods_type_box1 p{
	line-height: 22px;
	color: #666666;
	font-size: 14px;
}
.box .G_color .Gift .goods_type_box1 img{
	width: 100%;
	margin-top: 16px;
}
.G_color{
	background: #f2f2f0;
}
.box .G_color .Gift .goods_type_box{
	  background: #fff;
	  overflow: hidden;
	  display: none;
	  width: 100%;
}

.box .G_color .Gift .goods_type_box1{
  padding: 38px 12px 49px 12px;
  display: block;
  border-bottom: 1px solid #e3e3e3;
}

.box .G_color .Gift .goods_type_box2 dl{
	width: 100%;
	padding: 19px 10px;
	position: relative;
	border-bottom: 1px solid #e3e3e3;
}
.box .G_color .Gift .goods_type_box2 dl dt{
	width: 80px;
	float: left;
	margin-right: 12px;
}
.goods_type_box2 dl dt img{
	width: 100%;
}
.goods_type_box2 dl dd{
	margin-left: 90px;
}
.goods_type_box2 dl dd h2{
	font-size: 15px;
	line-height: 22px;
}
.goods_type_box2 dl dd p{
	color: #666666;
	font-size: 12px;
	line-height: 18px;
}
.goods_type_box2 dl dd strong{
	color: #666666;
	font-size: 12px;
}
.goods_type_box2 dl dd span{
	font-size: 20px;
	color: #bba059;
	position: absolute;
    right: 10px;
    bottom: 40px;
}
.Popular_gifts{
	border-top: #e4e4e4 solid 1px;
}
.Popular_gifts .Hot_title{
	height: 42px;
	line-height: 42px;
	margin-top: 10px;
	margin-left: 12px;
}
.Popular_gifts ul li{
	padding:6px 12px 0px 0px;
	overflow: hidden;

}
.Popular_gifts ul li .Gift_left{
	width: 140px;
	float: left;
}
.Popular_gifts ul li .Gift_left img{
	width: 100%;
}
.Popular_gifts ul li .Gift_right{
	margin-left: 150px;
}
.Popular_gifts ul li .Gift_right h2{
	font-size: 15px;
	margin-top: 5px;
}
.Popular_gifts ul li .Gift_right .Money{
	  border-bottom: 1px solid #e3e3e3;
  margin-top: 23px;
  padding-bottom: 5px;
}
.Popular_gifts ul li .Gift_right .Money span{
	color: #bba059;
	font-size: 23px;
}
.Popular_gifts ul li .Gift_right .Money span img{
	  width: 16px;
  display: initial;
  top: 8px;
  position: relative;
}
.Popular_gifts ul li .Gift_right .Money b{
	  text-decoration: line-through;
	  color: #999999;
	  font-size: 14px;
	  margin-left: 5px;
}
.Popular_gifts ul li .Gift_right .Money .Refresh_gold{
	float: right;
}
.Popular_gifts ul li .Gift_right .Money .Refresh_gold{
	width: 25px;
}
.Exchange{
	width: 100%;
	background: #3b84ed;
	height: 45px;
	line-height: 45px;
	color: #fff;
	text-align: center;
	font-size: 15px;
}
.integral_problem{width: 262px;height: 145px;background-color: #fff;padding: 30px 19px 23px 26px;position: absolute;left: 50%;top: 35%;;margin-left: -131px;z-index: 10000;display:none;position: fixed;}
.integral_problem .igl_ti{font-size: 16px;color:#666666;}
.integral_problem .igl_btn{margin-top: 34px;}
.integral_problem .igl_con{width: 80px;height: 30px;background: #3b84ed;color: #fff;font-size: 14px;text-align: center;line-height: 32px;display: inline-block;margin-left: 21px;vertical-align: bottom;}
.integral_problem .igl_lk{border:1px solid #000;color: #000;background-color:#fff;margin-left: 7px;}
.mask{margin:0;padding:0;border:none;width:100%;height:100%;background:#333;background-color:rgba(0,0,0,.6);z-index:9999;position:fixed;top:0;left:0;display:none;}


