.inform-model{
	margin-top: 2.4rem;
	float: left;
}
.inform-item .inform-time{
	text-align: center;
	color: #999999;
	font-size: 0.6rem;
	margin-bottom: 0.75rem;
	margin-top: 1rem;
}

.inform-item .inform-content{
	margin-left:1.1rem;
	margin-right: 1.1rem;
}
.inform-item .inform-content p{
	padding:0.75rem ;
	background: #fff;
	border-radius: 0.7rem;
	font-size: 0.75rem;
	text-indent:1.5rem;
	line-height:1.5rem;
}
