html{font:1.4em/1.25'microsoft yahei',Arial,sans-serif}
*{margin:0 0 0 0;padding:0 0 0 0}
body{margin:0 auto}

.hongbao_01,.hongbao_02{width:100%; max-width:750px; background:#faf9f5}
img{ display:block;}
.hongbao_01 div,.hongbao_01 span{ display:inline-block}
.hongbao_01 #form-button{width:80%;height:65px; margin-left:50px; background:#2e1a44; color:#fff;font-size:1.2em;border:none}
.hongbao_01 #mobile{width:90%;border:none;margin-left:10px;line-height:1.5;font-size:1.6rem; background:#faf9f6}
.hongbao_01 .input_bg{padding:0 10% 0 10%;width:80%;height:153px; background:url(../../images/weixin/hongbao_1-2.jpg) no-repeat; text-align:left;}
.hongbao_01 .input_bg i{font-size:2rem}
.hongbao_01 .input_bg .left{ border-bottom:solid 1px #555;width:50%;height:70px}
.hongbao_01 .input_bg .right{width:50%;height:70px; float:right;}
.hongbao_01 .content_t{background:url(../../images/weixin/hongbao_1-line.gif) repeat-y; background-size:100%;padding:15px 8% 15px 8%;width:84%; font-size:1rem; line-height:1.8;color:#777; text-align:left;}
.hongbao_01 .content_t .text p{ font-size:1.2rem}

.hongbao_02 .content_bg{ background:url(../../images/weixin/hongbao_2-1.jpg) no-repeat;width:80%;padding:0 10% 0 10%; height:1000px}
.hongbao_02 .content_bg .text{ font-size:1rem; line-height:1.8;color:#777; text-align:left;}
.hongbao_02 .content_bg .text p{ font-size:1.2rem}
.hongbao_02 .content_bg input{ font-size:1.2rem}
.qz-txt3 {
    display: block;
    padding: 9px 0;
    width: 95%;
    text-indent: 10px}
	.qz-border {
    border: 2px solid #d0d0d0;
}
.remainingSum1SelectList,.remainingSum1SelectList dd {
     margin-bottom: 0px;}
	 .remainingSum1Sumbit a{
	 	height:60px;width:50%;font-size:1.4rem; line-height:2;border-radius:0; border:solid 2px #ca9062
	 }
	 .qz-button {
		font-size:0.8rem !important;
	border-radius:5px;
    display: inline-block;
 
 line-height:1.2;
    background: #2e1846;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 2px solid #666666;
}
.code{   position: absolute;
    right: 5px;
    top: 13px;}
.qz-bk10{height:30px} 
.qz-txt2 {
    padding: 5px 10px;}
	.qz-ico {
    margin: 5px;
    width: 30px;
    height: 30px;}
	.qz-ico-write {
    background: url(../../images/weixin/write.png) no-repeat;
    background-size: 100% 100%;
}
	.qz-ico-pwd {
    background: url(../../images/weixin/pwd.png) no-repeat;
    background-size: 100% 100%;
}
.msg{font-size:1rem; float:left; color:Red}
